In [4]:
from __future__ import division, print_function
__author__= "bb CUSP 2017"
import os
import numpy as np
import pylab as pl
import pandas as pd

In [5]:
PUIdata=os.getenv("PUIDATA")

In [6]:
print(PUIdata)

/home/cusp/bb1569/PUIdata

In [7]:
DFData=os.getenv("DFDATA")

In [8]:
print(DFData)

/gws/open/NYCOpenData/nycopendata/data

In [29]:
!ls $DFDATA/6m3u-8rbh/1418062733/6m3u-8rbh

6m3u-8rbh

In [30]:
link=(DFData+"/6m3u-8rbh

In [31]:
data=pd.read_csv(link)

<bound method DataFrame.head of                                Upcoming Project Name  \
0   HS REPLACEMENT @ 1211 SOUTHERN BOULEVARD - BRONX
1              PRE-K CENTER @1434 OGDEN AVENUE-BRONX
2               PRE-K CENTER@ WEBSTER AVENUE - BRONX
3                          DOCK ST CAMPUS - BROOKLYN
4                          DOCK ST CAMPUS - BROOKLYN
5                                I.S. 280 - BROOKLYN
6               PRE-K CENTER @ 5TH AVENUE - BROOKLYN
7              PRE-K CENTER @ 71ST STREET - BROOKLYN
8                                        ISHS @ M837
9           NEW YORK HARBOR SCHOOL ANNEX - MANHATTAN
10       PRE-K CENTER @ LAFAYETTE STREET - MANHATTAN
11                        I.S. 125 ADDITION - QUEENS
12                         P.S. 24 ADDITION - QUEENS
13                                 P.S. 332 - QUEENS
14                                 P.S. 335 - QUEENS
15                    P.S./I.S. 49 ADDITION - QUEENS
16          CURTIS HIGH SCHOOL ANNEX - STATEN ISLAND
17                         CURTIS HS - STATEN ISLAND

   Upcoming Project Borough   Upcoming Project Geographic District  \
0                      BRONX                                    12
1                      BRONX                                     9
2                      BRONX                                    10
3                   BROOKLYN                                    13
4                   BROOKLYN                                    13
5                   BROOKLYN                                    15
6                   BROOKLYN                                    20
7                   BROOKLYN                                    20
8                  MANHATTAN                                     3
9                  MANHATTAN                                     2
10                 MANHATTAN                                     2
11                    QUEENS                                    24
12                    QUEENS                                    25
13                    QUEENS                                    26
14                    QUEENS                                    27
15                    QUEENS                                    24
16             STATEN ISLAND                                    31
17             STATEN ISLAND                                    31

   Upcoming Project Description Upcoming Project Budget Range  \
0                         Lease                     3 M - 4 M
1                         Lease                     6 M - 7 M
2                         Lease                     0   - 1 M
3                         Lease                     0   - 1 M
4                           New                    15 M - 20M
5                         Lease                    20 M - 30M
6                         Lease                     0   - 1 M
7                         Lease                     0   - 1 M
8                         Lease                    15 M - 20M
9                         Lease                    20 M - 30M
10                        Lease                     0   - 1 M
11                     Addition                     40 M OVER
12                         Demo                     1 M - 2 M
13                          New                     40 M OVER
14                          New                     40 M OVER
15                     Addition                    20 M - 30M
16                         Demo                     0   - 1 M
17                     Addition                     40 M OVER

   Upcoming Project Design Completion Date Upcoming Project Category  \
0                                  2015/04                    Leases
1                                  2015/02                    Leases
2                                  2015/05                    Leases
3                                  2015/04               New Schools
4                                  2015/04               New Schools
5                                  2015/05                    Leases
6                                  2015/04                    Leases
7                                  2015/04                    Leases
8                                  2015/05                    Leases
9                                  2015/05                    Leases
10                                 2015/05                    Leases
11                                 2015/04                 Additions
12                                 2015/03                      Site
13                                 2015/03               New Schools
14                                 2015/02               New Schools
15                                 2015/05                 Additions
16                                 2015/03                      Site
17                                 2015/05                 Additions

   Upcoming Project Status   Upcoming Project Square Footage  \
0                    Design                            14000
1                    Design                            11000
2                     Scope                                0
3                    Design                                0
4                    Design                            45642
5                    Design                            92000
6                    Design                                0
7                    Design                                0
8                    Design                            76000
9                    Design                            33605
10                   Design                                0
11                   Design                            68000
12                   Design                                0
13                   Design                            80497
14                   Design                            83907
15                   Design                            32247
16                   Design                             3000
17                   Design                            37657

    Upcoming Project Seat Count
0                           150
1                            72
2                            90
3                            72
4                           333
5                           476
6                            18
7                            90
8                           746
9                           262
10                           36
11                          728
12                            0
13                          468
14                          516
15                          333
16                            0
17                          345  >